@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';
body{  background-color: #FFF7F1;}
*{font-family: 'Montserrat';}
.card{  display: flex;  justify-content: center;  padding: 0rem 5rem;  display: flex;  flex-wrap: wrap; background-color: #FFF7F1; border: none;}
.card div{  background-color: #E78895;  padding: 1rem 1rem;  margin: 1rem 2rem; border-radius: 20px;}
.addUserBtn{border: 1px solid #E78895;  background-color: #FFF7F1; color: #E78895;  border-radius: 20px;  padding: 1rem 3rem; cursor: pointer;transition: .3s ease;font-weight: 600;font-size: 20px;margin-bottom: 1.5rem;}
.addUserBtn:hover{background-color: #E78895;color: #FFF7F1; transition: .3s ease;}
.form{background: #E78895;border-radius: 20px;padding:3rem 4rem;color:#FFF7F1;width: 80%;margin: 4rem auto;}
.inputForm{align-items: end; display: flex;flex-direction: column;}
.form span{font-size: 28px; font-weight: 600;}
form{display: flex; flex-direction: column;padding-bottom: 4rem; width: 400px; margin: auto; padding-bottom: 0;margin-top: 1.5rem; justify-content: center;  display: flex;   align-items: center;}
form input{  background: transparent;  border: 1px solid #FFF7F1;  border-radius: 5px;  padding: 5px;  color:#FFF7F1;}
.mainApp{min-height: 80vh;  display: flex;  flex-direction: column;  align-items: center;  justify-content: center;margin: auto;}
.submitBtnForm, .cardBtn{    margin-top: 1.5rem;    background: #FFF7F1;    color: #E78895;    padding: 1rem 2rem;    border:1px solid #E78895;    border-radius: 20px;    width: fit-content;    cursor: pointer;     transition: .3s ease;    font-weight: 600;  }
.submitBtnForm:hover, .cardBtn:hover{    color:#FFF7F1;    background-color: #E78895;    border: 1px solid #FFF7F1;    transition: .3s ease; }
.submitBtnForm:disabled{background-color: grey; color: black;}
.submitBtnForm:disabled:hover{background-color: grey; color: black;}
.inputContainer{margin: .5rem 0; position: relative;}
.inputContainer label{margin-right: 0.35rem;}
.passwordIcon{position: absolute; top: 0; bottom: 0; margin: auto; right: 0.4rem; background-color:#E78895; height: 80%;}
.carddiv{    display: flex;  flex-direction: column; color:#FFF7F1;}
.cardBtn{margin: 0 1rem;}
.appNav{position: absolute;top: 0 ;right: 5rem;}
.appNav button{margin-left:1rem}
.userNameDashboard{word-break: break-all;}
/* .activeClicked .active {font-weight: 900;} */
.profileComponent{display: flex; flex-direction: column; align-items: center;justify-content: center;margin: auto;}
.registerDiv, .loginDiv{    display: flex;justify-content: center;margin-top: 1rem;}
.registerDiv p,.loginDiv p{margin-right: 0.5rem;}
.registerDiv button:hover, .loginDiv button:hover{text-decoration: underline;}
.item-content{display: flex;}
.multilevelSidebar{width: 20%;top: 0;left: 0; background-color: #E78895 !important; color: #FFF7F1 !important;}
.sidebarli{display: flex;justify-content: flex-start;align-items: center;gap: 1rem;}
.addUserDiv{ display: flex; flex-direction: column; align-items: center;width: 100%; margin: auto;}
.addedusercard{ background-color: #E78895; color: #FFF7F1; border: 1px solid #FFF7F1;     width: 300px;border-radius: 20px;padding: 1rem 2rem; max-width: 300px;     display: flex;flex-direction: column;align-items: baseline;} 
.wrapperSidebar{display: flex;}
.addedusercardwrapper{display: flex;flex-wrap: wrap;column-gap:1rem;row-gap:1rem; align-items: center;justify-content: center; margin: auto;}
.assignrolecardcardwrapper select{color:#E78895; border-radius: 10px; padding: 0rem 0.5rem; cursor: pointer;}
.assignrolecard {background-color: #E78895; color: #FFF7F1; border: 1px solid #FFF7F1; margin: 2rem 0;    width: 500px;border-radius: 20px;padding: 1rem 2rem; max-width: 600x;display: flex; }
.assignrolecardcardwrapper{margin: auto; }
.assignrolecard div{flex: 1;}
.about{margin: auto;}
h2{font-size: 22px;font-weight: 500; color:#696969}
.antmenu{display: flex; }
.menu-container {height: 100vh;max-height: 100vh; background-color: #E78895; color: #FFF7F1; font-weight: 600; font-family: 'Montserrat' !important;}
.ant-menu-item-selected{background-color: #E78895 !important}
.buttonMenu{margin-left: 0.5rem; margin-top: 0.5rem; border-color: #FFF7F1 !important; color: #FFF7F1 !important; background-color: #E78895 !important;}
.buttonMenu:hover{border-color: #E78895 !important; color: #E78895 !important;  background-color: #FFF7F1 !important;}
.antmenu ul li,.antmenu ul {background-color: #E78895;}
.ant-menu-inline {background-color: #E78895 !important;}
.ant-menu-item, .ant-menu-submenu-title {margin: 1rem 0 !important; color: #FFF7F1 !important;}
.ant-menu-title-content{display: flex;}
.menuusername:before{    content: '';width: 7px;height: 7px;background: pink;border-radius: 13px;margin-right: 1.5rem;}
.menuusernamecollapsed::before{  content: '';width: 7px;height: 7px;background: pink;border-radius: 13px;position: absolute;left: 2.2rem; top: 1rem;display: block;}
.menuusername,.menuusernamecollapsed{    background: #FFF7F1 !important;position: relative;top: -1rem;width: 100% !important;border-radius: 0 !important;color: #E78895 !important;
}
/* .ant-menu .ant-menu-sub .ant-menu-inline{background-color: #E78895 !important;} */
/* #FF004D admincolor  #B7C9F2 subadmin  A5DD9B employee  #FFD23F intern*/